.form-control-look {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #e9ecef;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.switch.large {
    /* Add your preferred dimensions */
    width: 60px;
    height: 30px;
    /* Additional styling if needed */
}

/* Style the disabled month selector */
.form-control-look input[type="month"]:disabled {
    /* Add your custom styles here to indicate that it is disabled */
    opacity: 0.5;
    /* Reduce the opacity to make it look disabled */
    pointer-events: none;
    /* Disable pointer events to prevent interactions */
    background-color: #ced4da;
    /* Background color for disabled state */
}

.form-control-look input[type="month"]::-webkit-calendar-picker-indicator {
    filter: brightness(0.5);
    /* Reduce the brightness to make future months appear disabled */
    pointer-events: none;
    /* Disable pointer events to prevent interactions */
    cursor: not-allowed;
    /* Show 'not-allowed' cursor on future months */
}

.custom-hover:hover {
    box-shadow: 0 15px 20px grey;
    /* Add your desired custom color for the hover effect here (e.g., pink) */
    cursor: pointer;
    /* Optional: Change the cursor to a pointer when hovering over the rows */
}

.dot-hover {
    background-color: lightgray;
    /* Change to the desired background color */
    border-radius: 100%;
    /* Create a circular background */
}

.button-hover {
    box-shadow: 0 20px 25px grey;
    background-color: white;
    /* Adjust shadow values as desired */
}

.custom-button {
    /* Add your existing button styles here */
    color: black !important;
    /* Set the text color to black */
}

.card-hover {
    box-shadow: 0 20px 20px grey;
    /* Adjust shadow values as desired */
}

.custom-dropdown-button.dropdown-toggle::after {
    display: none !important;
}

/* Using higher specificity */
#your-container .custom-dropdown-button.dropdown-toggle::after {
    display: none;
}

#dropdown-container .custom-dropdown-button.dropdown-toggle::after {
    display: none !important;
}

.column-label {
    width: 40%;
    /* Adjust this width to your preference */
    padding: 10px;
    /* Add padding for better visual separation */
    font-weight: bold;
    /* Make the label text bold */
}

.column-value {
    width: 60%;
    /* Adjust this width to your preference */
    padding: 10px;
    /* Add padding for better visual separation */
}

.rounded-button {
    background-color: white;
}

.avatar-container {
    position: relative;
    width: 110px;
    margin-left: 450px;
    /* Adjust this value as needed */
    margin-top: -35px;
    /* Adjust this value as needed */
    z-index: 1;
}

.card-divider {
    margin: 10px 0;
    border-top: 1px solid #ccc;
}

.note-text {
    color: #f4bd0e !important;
}

.input-with-image {
    position: relative;
    display: flex;
    align-items: center;
}

.input-image {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: auto;
    cursor: pointer;
}

.red-text {
    color: red;
  }
  